$antiflashWhite: #f5f6f8;
$whiteSmoke: #f3f3f3;
$tiffanyBlue: #8ac1bc;
$amethyst: #bf73c6;
$burntSienna: #df7b47;
$thistle: #ded3f3;
$periwinkle: #ccbfe9;
$tropicalIndigo: #9a7ddd;
$mint: #64cda4;
$black: #0c0c0c;
$grey: #7f7f7f;
$lightGrey: #c1c1c1;
$white: #ffffff;

$buttonGradient: linear-gradient(
  135deg,
  rgba(232, 108, 178, 1) 0%,
  rgba(189, 107, 215, 1) 100%
);
